@model WpdCreateViewModel

@{
    ViewData["Title"] = "Добавить рпд";
}

<h1>Добавить РПД</h1>

<h4>WPD</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control-file" asp-for="File" type="file" multiple required />
            </div>
            <div class="form-group">
                <label class="control-label">Преподаватель</label>
                <select asp-for="AuthorId" asp-items="ViewBag.Authors" class="form-control"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="ViewBag.Statuses" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfApproval" class="control-label"></label>
                <input asp-for="DateOfApproval" class="form-control" />
                <span asp-validation-for="DateOfApproval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfFormalApproval" class="control-label"></label>
                <input asp-for="DateOfFormalApproval" class="form-control" />
                <span asp-validation-for="DateOfFormalApproval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label"></label>
                <select asp-for="Specialization" asp-items="ViewBag.Specializations" class="form-control">
                </select>
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subspecialization" class="control-label"></label>
                <select asp-for="Subspecialization" asp-items="ViewBag.Subspecializations" class="form-control">
                </select>
                <span asp-validation-for="Subspecialization" class="text-danger"></span>
            </div>
            <div class="form-group form-check form-switch">
                <input asp-for="isPrinted" class="form-check-input"/>
                <label asp-for="isPrinted" class="form-check-label"></label>
                <span asp-validation-for="isPrinted" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="isTitlePrinted" class="form-check-input"/>
                <label asp-for="isTitlePrinted" class="form-check-label"></label>
                <span asp-validation-for="isTitlePrinted" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="isSigned" class="form-check-input"/>
                <label asp-for="isSigned" class="form-check-label"></label>
                <span asp-validation-for="isSigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
